<a href="https://colab.research.google.com/github/leobioinf0/nuwe_algorithms/blob/main/Multiple_of_3_or_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple of 3 or 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [101]:
def get_multiples_sum(n):
    l = list(range(1,n))
    return(sum([i*j for i, j in zip([i==0 for i in [x*y for x,y in zip([i%3 for i in l],[i%5 for i in l])]],l)]))

In [102]:
get_multiples_sum(1000)

233168