<a href="https://colab.research.google.com/github/leobioinf0/nuwe_algorithms/blob/main/Number_letter_counts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Number letter counts

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?

NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [5]:
numwords = {1000:"thousand", 
            100:"hundred", 
            90:"ninety", 
            80:"eighty",
            70:"seventy",
            60:"sixty", 
            50:"fifty", 
            40:"forty", 
            30:"thirty",
            20:"twenty",
            19:"nineteen",
            18:"eighteen",
            17:"seventeen",
            16:"sixteen", 
            15:"fifteen", 
            14:"fourteen", 
            13:"thirteen",
            12:"twelve", 
            11:"eleven", 
            10:"ten", 
            9:"nine", 
            8:"eight",
            7:"seven", 
            6:"six", 
            5:"five", 
            4:"four", 
            3:"three", 
            2:"two",
            1:"one", 
            0:"zero"
            }

In [6]:
def number_letter_counts(number=1000):
    def lownum(n):
        if n in numwords.keys():
            return("{}".format(numwords[n]))
        else:
            return("{}{}".format(numwords[n - int(str(n)[1])],numwords[int(str(n)[1])]))

    count=0    
    for n in range(1,number+1):
        leng = len(str(n))
        if leng == 4:
            count+=len("onethousand")
        elif leng == 3:
            if n in numwords.keys():
                count+=len("{}thousand".format(lownum(int(str(n)[0]))))
            else:
                count+=len("{}hundredand{}".format(lownum(int(str(n)[0])),lownum(int(str(n)[1:]))))
        else:
            count+=len(lownum(n))
    print(count)

In [7]:
# letters used from 1 to 5
number_letter_counts(number=5)

19

In [8]:
# letters used from 1 to 1000
number_letter_counts(number=1000)

21181